.elementor-50 .elementor-element.elementor-element-5891c78 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-50 .elementor-element.elementor-element-5891c78>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-50 .elementor-element.elementor-element-a806a97 {
    text-align: left;
}

.elementor-50 .elementor-element.elementor-element-6871dba {
    text-align: center;
}

.elementor-50 .elementor-element.elementor-element-9409373 {
    text-align: right;
}